.hangContainer {
  padding:10px;
  text-align: center;
  display:flex;
  flex-direction: column;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}

.hangBg {
  background:url("../../bgimg/blackboard.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.inputStyle {
  border: #eeeeee solid 5px;
  border-left: #eeeeee solid 50px;
  border-right: #eeeeee solid 50px;
}

input[name="guessingLetter"] {
  font-size: 36px !important;
  width: 24px !important;
  color: #eeeeee !important;
}

.hangInput {
  width: 24px !important;
}