.chcbtn {
	width: 30%;

	text-align: left;
	margin: 10px;
}

.chcbtn:hover {
	background-color: #fdd835 ;
	box-shadow: 0 6px 8px 0 rgba(255,238,88,0.5), 0 10px 10px 0 rgba(255,238,88,0.5);
}

.chcbtn:active {
	background-color: #fdd835;
    box-shadow: 0 5px  rgba(255,238,88,0.5);
    transform: translateY(4px);
}

.slGreen {
	background-color:#ffd180;

}

.lGreen {
	background-color:#ffab40;
}

.mGreen {
	background-color:#ff9100;
}

.dGreen {
	background-color:#ff6d00;
}