.chcbtn {
	width: 30%;

	text-align: left;
	margin: 10px;
}

.chcbtn:hover {
	background-color: #098e09;
	box-shadow: 0 12px 8px 0 rgba(9,142,9,0.5), 0 10px 25px 0 rgba(9,142,9,0.5);
}

.chcbtn:active {
	background-color: #098e09;
    box-shadow: 0 5px  rgba(9,142,9,0.5);
    transform: translateY(4px);
}

.slGreen {
	background-color:#68ff68;

}

.lGreen {
	background-color:#42ff42;
}

.mGreen {
	background-color:#30ff30;
}

.dGreen {
	background-color:#18ce18;
}