h4 {
	color: white ;
}

h5 {
	color: #54351E ;
}

.gifImg {
	width:auto;
	height:35vh;
	max-width: 100%;
}

.imgCenter {
    margin: auto;
    width: 50%;
}

.gify {
    text-align: center;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin:0 auto;
	background:url("../../bgimg/blackstripe.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.textbg {
	background-color: rgba(234, 198, 122, 0.8);
	padding: 0px 5px 5px 5px;
	margin: 0 auto;
	border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}


.searchbg {
	background-color: rgba(84, 53, 30, 0.5);
	padding: 5px 10px 15px 5px;
	margin: 0 auto;
	display:inline;
	border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.historybg {
	background-color: rgba(234, 198, 122, 0.8);
	padding: 0px 5px 5px 5px;
	margin: 0 auto;
	border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.gifHeading {
	background:url("../../bgimg/colorpencil.jpg");
	background-size: contain;
	border-bottom: solid 10px;
	border-color: #42a5f5;
}

.gifWrap {
	margin:25px 0 25px 0;
}

.gifNav {
	border-bottom: 2px solid #424242 !important;
 	box-shadow: 0 1px 0 0 #424242 !important;
}

.gifNav:focus {
	background-color: #eeeeee !important;
}

.gifIconStyle {
	background-color: #424242;
}

i.icon-white {
	color:white;
}

input[type="search"] {
	font-size: 36px !important;
}